body {
	margin: 0;
}

.main-wrapper {
	background-color: aqua;
	height: 100vh;
	background-image: 
		linear-gradient( to bottom, #000000bb, #00000022, #000000bb ),
		url('https://picsum.photos/id/33/1000');
	background-repeat: no-repeat;
	background-size: cover;
	color: antiquewhite;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}